# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/

# Database
*.sqlite3
*.db

# Media & Static
media/
staticfiles/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db
